.root {
    -fx-font-family: "Cairo";
}
.btn-update {
    -fx-background-color: linear-gradient(
        to bottom,
        #3f4a5a,
        #6b7a8c
        );
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 22;
    -fx-padding: 10 22;
    -fx-cursor: hand;
}
/*.btn-update:hover {
    -fx-translate-y: -7;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 25, 0.4, 0, 10);
}*/

.dashboard-card {
    -fx-background-color: linear-gradient(
        to bottom,
        #3f4a5a,
        #6b7a8c
        );
    -fx-background-radius: 20;
    -fx-padding: 25;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.dashboard-card:hover {
    -fx-translate-y: -8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 15, 0.4, 0, 1);
}

.card-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.card-number {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #000;
}

.DashBoard {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 20;
    -fx-spacing: 40;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 20, 0.3, 0, 5);
}
.Pane {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 20;
    -fx-padding: 30;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 20, 0.3, 0, 5);
}




/*.puttons_dash {
    -fx-background-color: white;
    -fx-text-fill: #3e1f92;
    -fx-font-weight: bold;
    -fx-background-radius: 30;
    -fx-pref-width: 200;
        -fx-pref-width: 118;
    -fx-cursor: hand;
}*/
/*.puttons_dash:hover {
    -fx-scale-x: 1.08;
    -fx-scale-y: 1.08;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.6), 20, 0, 0, 0);
}*/